html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #1b1f1c;
    color: whitesmoke;
    margin: 0;
    padding: 0;
}

/* HEADER */ 
header {
        margin: 0 auto;
}

header img {
    width: 9rem;
    height: 9rem;
    margin-left: 5rem;
}

nav {
    float: right;
    margin-top: 3rem;
    margin-right: 2rem;
}
nav ul {
    list-style-type: none;
}
nav li {
    display: inline-block;
}
nav a {
 text-decoration: none;
 padding: 1.012rem;
 color: #ffffff;
 font-size: 1.3em;
}

nav a:hover {
    border-bottom: 3px solid  #cbf2b8;
}

/* MAIN Section */
main {
 margin: 0 auto;
}

.container {
    background-image: url("back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
     padding: 8.576rem;
     color:white;
}
.content {
    padding: 1.3rem 0.5rem;
    width: 45rem;
    height: 12rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 3pc;
    background-color:rgb(247, 152, 192);
    background-position: center;
    }

h1 {    
    font-size: 3.8em;
}
.content p {
    line-height: 0pc;
    height: 2rem;
    font-size: 1.2em;
}


/* About */
.about {
 text-align: center;
  background-color: #ffffff;
    color: #000000;
    padding: 4rem;    
}
.about h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 font-size: 2em;
 letter-spacing: 0.623em;
 margin-bottom: 3rem;
 
}
.about p {
   font-size: 1.23em;
}
.about a {
    color:#95b835;
}
.about a:hover {
    color: #261aab;
}
.about a:visited {
    color: #ab1a60;
}

/* Event Section */
.events {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
} 
.event-content {
    padding: 8rem;
    font-size: 1.52em;
    position: relative;
    background-size: cover;
    
}
hr {
    color: #cafc83;
    background-color: #cafc83;
    height: 5px;
    border: none;
}
.youth {
    background-image: url("Youth.jpg");
}
.adult {
    background-image: url("run.jpg");
  
}
.up-coming {
    background-image: url("event.jpg");
}

/* Quote Section */
.quote {
    padding:7rem;
}
blockquote {
    font-size: 2.3em;
}
.quote p {
    margin-left: 3rem;
}

/*Footer Section*/
.footer {
    background-color: #cafc83;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    color: #000000;
    margin: 0 auto;
    padding: 5rem;
    
}
.footer-content {
    display: block;
   position: relative;
   top: -3.234rem;
}

.footer-content ul {
list-style-type: none;
position: relative;
left: -4rem;
top: 0.3rem;
font-size: 1.1rem ;
line-height: 1.8rem;
color: gray;
}
.footer h3 {
    font-size: 1.9rem;
    font-weight: bold;
}
.footer-content a {
text-decoration: none;
color: #000987;
}
 .footer-content a:hover {
     border-bottom: 1px solid #261aab;
 }
 .copy-right {
     font-size: 0.8rem;
 }
.social {
display: flex;
flex-direction: column;
justify-content: space-around;
}
.social img {
    width: 2rem;
    height: 2rem;
}
/* Media Step  */
@media only screen and (max-width:932px) {
    header img {
    width: 8.5rem;
    height: 8.5rem;
    margin-left: 2rem;
 }
 nav {
     font-size: 0.823em;
 }
 .events {
   
    display: flex;
    flex-direction: column;
}
.footer {
   
    display: flex;
    flex-wrap: wrap;
}
.social {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
}
@media only screen and (max-width: 704px)  {
    header {
        padding: 1rem;
    }
  header img {
      margin-left: 10rem;
  }
  nav {
      display: inline-block;
     position: relative;
     bottom: 5.621rem;
     font-size: 0.6rem;      
  }
}
@media only screen and (max-width:932px) {

}


